@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 15 23 42;
}

html, body {
  height: 100%;
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}

.container {
  @apply mx-auto max-w-7xl px-4;
}
